{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
<div class="container shadow ">
    <h1> hello</h1>
</div>
<div class="card-footer" style="background-color: rgb(224, 224, 224); padding-right: 10px;">
    <ul>
      <li><a href="#CI.FB" class="fa fa-facebook" style="font-size: 30px;">
      </a><a href="#CI.FB" >@Minute/FB </a></li>
      <li ><a href="#CI.IG" class="fa fa-instagram" style="font-size: 30px;">
      </a><a href="#CI.IG" >@minute/IG </a></li>
      <li><a href="#CI.LN" class="fa fa-linkedin" style="font-size: 30px;">
      </a><a href="#CI.LN" >@minute/LN </a></li>
      <li><a href="#CI.TW" class="fa fa-twitter" style="font-size: 30px;">
      </a><a href="#CI.TW" >@minute/TW </a></li>
  </ul>
  </div>
    {% endblock %}