{% extends "base.html" %} {% block title %}minutes{% endblock %} {% block content
    %}
    <div   class="container-fluid shadow p-4 "  id="S1D"style="background-color: rgb(57, 163, 249);">
   
        <table class="table table-striped" >
          <thead>
          <tr>
            <th>Date</th>
            <th>Topic</th>
            <th>Attendees</th>
            <th>Raised by</th>
            <th>Action/s Required</th>
            <th>To be Actioned by</th>
            <th>Subsequent Information</th>
            <th>Date of Completion</th>
          </tr>
        </thead>
        {% for minute in user.minutes %}
      
        <tr>
          <td>{{ minute.dates}}</td>
          <td>{{ minute.topic}}</td>
          <td>{{ minute.attendees }}</td>
          <td>{{ minute.raised_by }}</td>
          <td>{{ minute.action}}</td>
          <td>{{ minute.to_be_actionedby}}</td>
          <td>{{ minute.info }}</td>
          <td>{{ minute.date_of_comp }}</td>
        </tr>
         
         <!-- <button type="button" class="close" onClick="deleteNote({minute})">
            <span aria-hidden="true">&times;</span>
          </button>-->
        
        {% endfor %}
      </table>
      </div>
      
        <div   class="container p-4 " style="max-width: 1100px;">
          
        
          <form method="POST" >
          <div class=" row">  
          <div class="col shadow p-4 mb-4 bg-white mx-auto" style="width: 100px; border-radius: 7px;">
           
                <label for="Date">Date</label>
                <input type="datetime-local" name="minute.dates" id="minute.dates" class="form-control" placeholder="" aria-describedby="helpId">
                
         
            
              </div>
            
         
          <div class="col shadow p-4 mb-4 bg-white mx-auto" style="width: 100px; border-radius: 7px;">
              
            
              <label for="Topic">Topic</label>
              <input type="text" name="minute.topic" id="minute.topic" class="form-control" placeholder="" aria-describedby="helpId">
          
          </div>
          
             
         
          <div class="col shadow p-4 mb-4 bg-white mx-auto" style="width: 100px; border-radius: 7px;">
              
          
              <label for="Attendees">Attendees</label>
              <input type="text" name="minute.attendees" id="minute.attendees" class="form-control" placeholder="" aria-describedby="helpId" >
          
            
           
          </div>
          <div class="col shadow p-4 mb-4 bg-white mx-auto" style="width: 100px; border-radius: 7px;">
              
          
            <label for="raised_by">Raised by</label>
            <input type="text" name="minute.raised_by" id="minute.raised_by" class="form-control" placeholder="" aria-describedby="helpId" >
        
          
         
        </div>
          <div class="col shadow p-4 mb-4 bg-white mx-auto" style="width: 100px; border-radius: 7px;">
           
            <label for="Action">Action</label>
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" name="minute.action" id="minute.action">Dropdown Example
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">JavaScript</a></li>
              </ul>
            </div>
          </div>
         
          <div class="col shadow p-4 mb-4 bg-white mx-auto" style="width: 100px; border-radius: 7px;">
           
            <label for="to_be_actionedby">To be Actioned by</label>
            <input type="text" name="minute.to_be_actionedby" id="minute.to_be_actionedby" class="form-control" placeholder="" aria-describedby="helpId">
            
      
        
          </div>
          <div class="col shadow p-4 mb-4 bg-white mx-auto" style="width: 100px; border-radius: 7px;">
           
            <label for="info">Subsequent Information</label>
            <input type="text" name="minute.info" id="minute.info" class="form-control" placeholder="" aria-describedby="helpId">
            
      
        
          </div>
          <div class="col shadow p-4 mb-4 bg-white mx-auto" style="width: 100px; border-radius: 7px;">
           
            <label for="Date">Date of completion</label>
            <input type="datetime-local" name="minute.date_of_comp" id="minute.date_of_comp" class="form-control" placeholder="" aria-describedby="helpId">
            
      
        
          </div>
          </div>
        
          <div align="center">
          <button type="submit" class="btn btn-primary">Add Note</button> <!--add a single button to get all values-->
        </div>
         </form>
        </div>
    {% endblock %}