{% extends "base.html" %} {% block title %}minutes{% endblock %} {% block content
    %}
    
  <div class="container  p-4 ">
    <div class="container shadow p-4 " style="background-color: aliceblue;">
    <form class="form-inline my-2 my-lg-0" style="float: right;">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="btn"><img src="{{ url_for('static', filename='images/search.png') }}" alt="" style="width:25px" /></button>
    </form>
    <div class="col shadow" style="width: 100px;">
      <a href="/"><h3>Back</h3></a>
    </div>
    
    <h1 align="center">{{meeting.id}} {{meeting.name}} {{meeting.date}}</h1>
    </div>
  </div>
    <div   class="container shadow p-4 "  id="S1D" style="background-color: #03cf9c;">
   
        <table class="table table-striped" id="minutes" >
          <thead class="thead-dark">
          <tr>

            <th>Topic</th>
            <th>Attendees</th>
            <th>Raised by</th>
            <th>Action/s Required</th>
            <th>To be Actioned by</th>
            <th>Subsequent Information</th>
            <th>Date of Completion</th>
          </tr>
        </thead>

        {% for minute in user.minutes %}
        
        <tr>
          <td>{{ minute.topic}}</td>
          <td>{{ minute.attendees }}</td>
          <td>{{ minute.raised_by }}</td>
          <td>{{ minute.action}}</td>
          <td>{{ minute.to_be_actionedby}}</td>
          <td>{{ minute.info }}</td>
          <td>{{ minute.date_of_comp }}</td>
        </tr>
         
         <!-- <button type="button" class="close" onClick="deleteNote({minute})">
            <span aria-hidden="true">&times;</span>
          </button>-->
        {% endfor %}
      </table>
      </div>
         
        <div   class="container p-4 " style="max-width: 1100px;" >
          
        
          <form method="POST" action="/min/{{meeting.id}}" class="needs-validation" novalidate id="forms">
          <div class=" row">  
            
         
            <div class="col shadow p-4 mb-4  mx-auto" style="width: 100px; border-radius: 7px; background-color: rgb(1,33,46);">
              
            
              <label for="Topic"  style="color: white;">Topic</label>
              <input type="text" name="minute.topic" id="minute.topic" class="form-control" placeholder="20 characters" aria-describedby="helpId">
          
          </div>
          
             
         
          <div class="col shadow p-4 mb-4  mx-auto" style="width: 100px; border-radius: 7px; background-color: rgb(1,33,46);">
              
          
              <label for="Attendees" style="color: white;">Attendees</label>
              <input type="text" name="minute.attendees" id="minute.attendees" class="form-control" placeholder="20 characters" aria-describedby="helpId" >
          
            
           
          </div>
          <div class="col shadow p-4 mb-4  mx-auto" style="width: 100px; border-radius: 7px; background-color: rgb(1,33,46);">
              
          
            <label for="raised_by"  style="color: white;">Raised by</label>
            <input type="text" name="minute.raised_by" id="minute.raised_by" class="form-control" placeholder="20 characters" aria-describedby="helpId" >
        
          
         
        </div>
        <div class="col shadow p-4 mb-4  mx-auto" style="width: 100px; border-radius: 7px; background-color: rgb(1,33,46);">
            <label for="Action"  style="color: white;">Action</label>
            <input type="text" name="minute.action" id="minute.action" class="form-control" placeholder="20 characters" aria-describedby="helpId">
          </div>
         
          <div class="col shadow p-4 mb-4  mx-auto" style="width: 100px; border-radius: 7px; background-color: rgb(1,33,46);">
           
            <label for="to_be_actionedby"  style="color: white;">To be Actioned by</label>
            <input type="text" name="minute.to_be_actionedby" id="minute.to_be_actionedby" class="form-control" placeholder="20 characters" aria-describedby="helpId">
            
      
        
          </div>
         
          <div class="col shadow p-4 mb-4  mx-auto" style="width: 100px; border-radius: 7px; background-color: rgb(1,33,46);">
           
            <label for="Date"  style="color: white;">Date of completion</label>
            <input type="datetime-local" name="minute.date_of_comp" id="minute.date_of_comp" class="form-control" placeholder="" aria-describedby="helpId">
            
      
        
          </div>
      
        
          </div>
          <div class="col shadow p-4 mb-4  mx-auto" style="width: 800px; border-radius: 7px; background-color: rgb(1,33,46);">
           
            <label for="info" style="color: white;">Subsequent Information</label>
            <textarea type="text" name="minute.info" id="minute.info" class="form-control" placeholder="200 characters" aria-describedby="helpId"></textarea>
            
      
        
          </div>
          <div align="center">
          <button type="submit" class="btn btn-success" id="btn">Add Minute</button> <!--add a single button to get all values-->
        </div>
         </form>
        
        </div>
    {% endblock %}