{% extends "base.html" %} {% block title %}minute taker{% endblock %} {% block content
  %}
  

  <div class="container  p-4 ">
    <div class="container shadow p-4 " style="background-color: aliceblue;">
    <form class="form-inline my-2 my-lg-0" style="float: right;">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><img src="Project_Interior_resources/search.png" style="height:24px"></button>
    </form>
    <h1 align="center">Minutes</h1>
    </div>
  </div>
  <div class="container p-4 ">
    <button type="submit" class="btn btn-info" onclick="openForm()" style="color: black;">Create New Minutes</button>
  </div>

  <div class="form-popup col shadow p-4 mb-4 bg-white mx-auto" style="width: 400px; border-radius: 7px; display: none;" id="newMinutes" style="width: 300px;">
    <form method="POST" >
      <input class="form-control"  name="meeting.name" id="meeting.name" placeholder="Enter minutes name"  required>
      <button type="submit"    class="btn">Create</button>
      <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
    </form>
  </div>
  
  <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" 
  autocomplete="off" onclick="hide()" class="float-right">></button>
  <div   class="container-fluid shadow p-4 "style="background-color: rgb(57, 163, 249);">
    <ul class="list-group list-group-flush" id="meetings">
      {% for meeting in user.meetings %}
      <a href="{{ url_for('views.minute', id=meeting.id)}}"> <li class="list-group-item">
        <h2>
        {{ meeting.name}}
        {{ meeting.date}}
      </h2>
       <a href="{{ url_for('views.delete', id=meeting.id)}}">delete</a>
      </li>
      {% endfor %}
    </ul>
  </a>
  
  
 
  
</div>


  
  {% endblock %}